
body {background-color:black;font-family: Arial;color: white;}
h1{color:grey;font-family: Verdana;}
    
    .maindiv{
    background-color: white;
    color:black;
    width: 500px; /*I used 500px instead of 300px so the app looks like tey ask in "Final Projects: Details*/
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
    }

    table {margin-left:50px;}
